extends layout

block content
  div#root
    h1.header= title
    nav
        a(href="#home") Home
        a(href="#about") About
        a(href="#contact") Contact
    div.content
        div.instructions
            h2 CSS Instructions
            ul
                li Please update this page to match this
                    |
                    |
                    a(href="/images/desired_look.png") image
                    |
                    | only using CSS3. Do not change the HTML nor add any classes to it
                li Use ISO character 232A for the list icon
                li This page should display the same in FF, Chrome and Safari.

            h2 JS Instructions
            ol
                li Implement the module pattern with one public method #[b "init"]
                li The #[b "init"] method should call a private method #[b "bindEvents"], which will bind click events to links and header
            p #[b The required functionality:]
            p -- When clicking on the link update the header with the link text
            p -- When clicking on the header reset its text to "Front End Profile"
