extends layout

block content
  div#root
    h1.header= title
    nav
        a(href="#home") Home
        a(href="#about") About
        a(href="#contact") Contact
    div.content
        div.instructions
            p Please update this page to match this image only using CSS3. Do not change the HTML nor add any classes to it
            p Use ISO character 232A for the list icon
            p This page should display the same in FF, Chrome and Safari.
        ul
            li Scratch at the door then walk away meow loudly just to annoy owners.
            li Kitten is playing with dead mouse play time, for dream about hunting birds.
            li Run outside as soon as door open meow all night yet kick up litter, yet nap all day
